html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

input, textarea, select {
  border: 2px solid #6e8c62;
}

hr {
  border-color: #70ad55;
}

button {
  background-color: #6e8c62;
}
