html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

input, textarea, select {
  border: 2px solid #6e8c62;
}

hr {
  border-color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-color: #6e8c62;
  border-radius: 3px;
}

span {
  color: #70ad55;
}

textarea {
  height: 10em;
}
